:root{
    --darkpurple:#6b488e;
    --lightpurple: #b37beb;
}
.dark{
    background-color: #2d3941 !important;
    color:#58626c !important;
}
.dark-background{
    background-color: #293136 !important;
}
.dark-hover{
    background-color: #2d3941 !important;
}
.dark-hover:hover{
    background-color: #3a464e !important;
}
.dark-hover:active{
    background-color: #2d3941 !important;
}
.dark2{
    background-color: #2d3941  !important;
}
.dark2:hover{
    background-color: #435057 !important;
}
.dark2:active{
    background-color: #2d3941 !important; 
}
.dark-icon{
    background-color: #606e7a !important;
}
.dark-text{
    color: #f8fafc !important;
}
.dark-message{
    
}
.icon{
    width:1.3em !important;
    height:1.3em !important;
    
}
.main-container{
    background-color: #f4f5f8;
    height:90vh;
    width: 90vw;
    display: flex;
    border-radius: 20px;
}
.sidebar-container{
    flex:0.3;
    display: flex;
    flex-direction: column;
}
.chatArea-container{
    flex:0.7;
}
.sb-header{
    background-color: white;
    border-radius: 20px;
    padding:10px 5px;
    margin:10px;
    display:flex;
    justify-content: space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.sb-header-right{
    margin-right: 10px;
}
.sb-search{
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.search-box{
    outline-width: 0px;
    border: none;
    font-size: 1.27rem;
    margin-left: 20px;
    color: black;

}
.sb-conversations{
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin:10px;
    flex:1;
    overflow: scroll;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.conversation-container{
    display: grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
    transition-duration: 0.5s;
}
.conversation-container:hover{
    background-color: #d9d9d9;
    
}
.conversation-container:active{
    background-color: white;
}
.con-icon{
    grid-area:1/1/3/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: bolder;
    color: white;
    height: 32px;
    width: 32px;
    padding: 2px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}
.con-title{
    grid-area: 1/2/2/4;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgba(0,0,0,0.54);
}
.con-timeStamp{
    justify-self: flex-end;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.75rem;
    color: rgba(0,0,0,0.54);
}
.con-last-message{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.75rem;
}
.chatArea-container{
    display: flex;
    flex-direction: column;
    flex: 0.7;
}
.chatArea-header{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.messages-container{
    flex: 1;
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    overflow: scroll;
    scrollbar-width: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.messages-container::-webkit-scrollbar,.sb-conversations::-webkit-scrollbar{
    display: none;
}
.text-input-area{
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.other-text-content{
    background-color: #d9d9d9;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 20px;
    width: max-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.self-message-container{
    display:flex;
    justify-content: flex-end;
}
.message-box{
    display: flex;
    background-color: var(--lightpurple);
    width: max-content;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 20px;
    flex-direction: column;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.self-time-stamp{
    align-self: flex-end;
    font-size: 0.75rem;
    font-weight: lighter;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.welcome-logo{
    height: 20vw;
}
.welcome-container{
    display: flex;
    flex:0.7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0,0,0,0.54);
    border-bottom: 7px solid var(--lightpurple);
    border-radius: 10px;
}
.create-groups-container{
    flex: 0.7;
    align-self: center;
    padding: 20px 10px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.login-container{
    height: 90vh;
    width: 90vw;
    background-color: #f4f5f8;
    border-radius: 20px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.image-container{
    flex:0.3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
    flex: 0.7;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--lightpurple);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}
.login-text{
    margin-bottom: 20px;
    font-size: 2.5rem;
}
.login-box button{
    margin-top: 30px;
}
.list-container{
    flex: 0.7;
}
.active-user-header{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 16px 10px;
    margin: 10px;
    margin-bottom: 5.7rem;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}
.active-user-title{
    color: rgba(0,0,0,0.54);
    margin-left:10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.active-user-logo{
    color:var(--lightpurple);
    margin-left : 15px;
}
.active-user-list{
    flex:1;
    overflow:scroll;
    scrollbar-width: none;
    padding:10px;
}
.active-user-list::-webkit-scrollbar{
    display: none;
}

.list-item{
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 20px;
    padding: 10px 5px;
    gap:10px;
    margin:10px;
    transition-duration: 0.5s;
}
.list-item:hover{
    background-color: rgb(226,226,226);

}
.list-item:active{
    background-color: white;
}
/* .MuiInput-root {
    border-bottom: 1px solid var(--lightpurple) !important;
  } */